<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/ao_view_profile">View Profile</a><br>
    <a href="/ao_add_notification">Add Notification</a><br>
    <a href="/ao_view_equipment_requests">View Equipment Requests</a><br>
    <a href="">Chat with farmers</a><br>
    <a href="/ao_view_stock_of_machines_equipments">View Stock of Machine and equipments</a><br>
    <a href="/ao_view_equipments">View equipments</a><br>
    <a href="/view_notification">View Notification</a><br>
    <a href="/view_policy">View Policy</a><br>
    <a href="/view_ferti_pesti">View fertilisers and pesticides</a><br>
    <a href="/change_password">change_password</a><br>
</body>

</html>