<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/wing_view_profile">View Profile</a><br>
    <a href="/wing_add_idea">Add Idea</a><br>
    <a href="/wing_add_success_stories">Add Success Stories</a><br>
    <a href="/wing_add_techniques">Add Techniques</a><br>
    <a href="/wing_view_success_stories">View Success Stories</a><br>
    <a href="/wing_view_techniques">View Techniques</a><br>
    <a href="/wing_view_idea">View Idea</a><br>
    <a href="/change_password">change_password</a><br>
</body>

</html>