<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Profile Photo:<img src="{{ data['photo'] }}" alt="profile-pic" height="100px" width="100px"> <br>
    Name: {{ data['name'] }} <br>
    Gender: {{ data['gender'] }} <br>
    Dob: {{ data['dob'] }} <br>
    Email: {{ data['email'] }} <br>
    Phone: {{ data['phone'] }} <br>
    House Name: {{ data['hno_name'] }} <br>
    Place: {{ data['place'] }} <br>
    City: {{ data['city'] }} <br>
    District: {{ data['district'] }} <br>
    State: {{ data['state'] }} <br>
    Pincode: {{ data['pincode'] }} <br>
</body>
</html>