<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
    <p>Name :
        <input type="text" name="textfield" id="textfield"/>
        <input type="button" name="button" id="button" value="Search"/>
    </p>
    <table width="200" border="1">
        <tr>
            <td>S.No</td>
            <td>Name</td>
            <td>Date</td>
            <td>Photo</td>
            <td>Description</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        {% for i in data %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ i['technique_name'] }}</td>
                <td>{{ i['date'] }}</td>
                <td><img src="{{ i['photo'] }}" alt="" height="100px" width="100px"/></td>
                <td>{{ i['description'] }}</td>
                <td><a href="/wing_edit_techniques/{{ i['technique_id'] }}">Edit</a></td>
                <td><a href="/wing_delete_techniques/{{ i['technique_id'] }}">Delete</a></td>
            </tr>
        {% endfor %}


    </table>
    <p>&nbsp;</p>
</form>
</body>
</html>
