{% extends 'form_base.html' %}
{% block content %}
    <form class="form" action="/edit_equipment_post" method="post" enctype="multipart/form-data">

        <div class="form__field">Name
            <input type="hidden" name="id" value="{{ data['ea_ma_id'] }}"/>
            <input class="input input--text" type="text" name="name" value="{{ data['equipment_name'] }}"/></div>

        <div class="form__field">Photo
            <img src="{{ data['photo'] }}" alt="" height="50px" width="50px"/><br>
            <input class="input" type="file" name="photo"/></div>

        <div class="form__field">Description<textarea class="input input--text" name="desc" id="textarea" cols="45"
                                                      rows="5">{{ data['description'] }}</textarea></div>

        <div class="form__field">Price
            <input class="input input--text" type="text" name="price" id="textfield2" value="{{ data['price'] }}"/>
        </div>
{% endblock %}