<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon -->
    {#    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />#}
    <!-- Icon - IconMonster -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css"/>
    <!-- Mumble UI -->
    <link rel="stylesheet" href="/static/assets/uikit/styles/uikit.css"/>
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="/static/assets/styles/app.css"/>

    <title>Smart Farmer</title>
</head>

<body>
<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
        <a href="/home" class="header__logo">
            <h3>Smart Farming</h3>
        </a>
        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu"/>
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
                <li class="header__menuItem"><a href="/home">Home</a></li>
                <li class="header__menuItem"><a href="/logout" class="btn btn--sub">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <br>
                <a class="btn btn--main" href="/add_agri_offi">Add Agriculture officer</a><br><br><br>
                <a class="btn btn--main" href="/add_crop">Add Crop</a><br><br><br>
                <a class="btn btn--main" href="/add_equipment">Add Equipment</a><br><br><br>
                <a class="btn btn--main" href="/add_f_p">Add Fertiliser/ Pesticides</a><br><br><br>
                <a class="btn btn--main" href="/add_message">Message</a><br><br><br>
                <a class="btn btn--main" href="/add_tech_wing">Add Technical Wing</a><br><br><br>
                <a class="btn btn--main" href="/add_group_policy">Add Group Policy</a><br><br><br>
                <a class="btn btn--main" href="/view_agri_offi">View Agriculture Officer</a><br><br><br>
                <a class="btn btn--main" href="/view_complaint">View Complaint</a><br><br><br>
                <a class="btn btn--main" href="/view_crop">View Crop</a><br><br><br>
                <a class="btn btn--main" href="/view_equipment">View Equipment</a><br><br><br>
                <a class="btn btn--main" href="/view_feedback">View Feedback</a><br><br><br>
                <a class="btn btn--main" href="/view_ferti_pesti">View Fertiliser / Pesticides</a><br><br><br>
                <a class="btn btn--main" href="/view_notification">View Notification</a><br><br><br>
                <a class="btn btn--main" href="/view_policy">View Policy</a><br><br><br>
                <a class="btn btn--main" href="/view_tech_wing">View Tech Wing</a><br><br><br>
                <a class="btn btn--main" href="/view_user">View User</a><br><br><br>

            <br><br>
            <a href="/change_password">Change Password</a>
        </div>
    </div>
</main>
</body>

</html>